<html>
	<body>

		{{template "head.html" .}}

		<table border=0 cellspacing=0 cellpadding=5 width=100%>
			<tr><td>
					<hr>
					<h2>Search for documents</h2>
					<form action="{{.SearchURL}}" method='get'>
						<table border=0 cellspacing=0 cellpadding=10>
							<tr><td>Find documents containing all of these words:</td><td><input type="text" id="query" name="query" value="{{.SearchQuery}}" size=60></td></tr>
							<tr><td colspan=2 align=center><input type="submit" value="Search"></td></tr>
						</table>
					</form>
					<hr>
				</td></tr>


		</table>

		<table border=0 cellspacing=0 cellpadding=5 width=100%>
			<tr><th colspan=5 border=1 align="left"><h3>{{.ResultsHeading}}</h3></th></tr>
			<tr><th>Access</th><th>Perms</th><th>Created</th><th>Filename</th><th>Title</th></tr>


			{{- range $n := .Nodes}}

			<tr>
				<td></td>
				<td></td>
				<td>{{$n.Created}}</td>
				<td> <a href='{{$n.URL}}'>{{$n.Name}}</a> </td>
				<td></td>
			</tr>

			{{- end}}
		</table>

	</body>
</html>

